[Unit]
Description=ovs Ceph Proxy
Wants=ovs-volumedriver_<VPOOL_NAME>.service
Before=ovs-volumedriver_<VPOOL_NAME>.service

[Service]
Type=simple
ExecStart=/usr/bin/CephProxyExe --loglevel Info --port <PORT> --cephconf <CEPHCONF>
Restart=on-failure
RestartSec=360
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
